@page
@model RecruitCatSingipn.Pages.Companies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Company</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.PositionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.PositionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MinimumSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MinimumSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.MaximumSalary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.MaximumSalary)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Revenue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Revenue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.IndustryId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.IndustryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company.JobTitleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.JobTitleId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Company.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
